<!DOCTYPE html>
<html>

<head>
  <title>Generate Voice</title>
  <link href="/public/assets/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a id='nav_button_generate' href="#">Generate</a></li>
        <li><a id='nav_button_create_new_audio' href="#">Create New Audio</a></li>
        <li><a id='nav_button_coin_counter_text' href="#">💰 Coins </a></li>
        <li><a id='nav_button_contact_us' href="#">Contact Us </a></li>
        <li><a id='nav_button_privacy_policy' href="#">Privacy Policy</a></li>
      </ul>
    </nav>
  </header>
  <!-- Hamburger -->
  <div class="hamburger" onclick="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="menu-items">
    <ul>
      <li id="generate"><a href="#">Generate</a></li>
      <li id="buy-coins"><a href="#">Buy Coins</a></li>
      <li id="contact-us"><a href="#">Contact Us</a></li>
      <li id="privacy-policy"><a href="#">Privacy Policy</a></li>
      <li id="logout"><a href="#">Logout</a></li>
    </ul>
  </div>
  <!-- Generate Audio UI -->
  <div id="generate-audio-ui" class="content">
    <h1>Generate Voice</h1>
    <form id="voiceForm">
      <textarea id="paragraph" name="paragraph" rows="4" maxlength="1000" required></textarea>
      <label id="text_counter" for="paragraph">Characters remaining: 1000</label>

      <select id="voices" name="voices" required>

      </select>
      <input type="submit" id="submitButton" value="Submit" disabled>
      <div id="audioContainer" style="margin-top: 20px;"></div>
    </form>
  </div>
  <!-- Purchase Coins -->
  <div id="purchase-coins" class="content">
    <h1 id="test-id">Pricing</h1>
    <p class="green-text">$0.00056</p>
    <p class="extra-small-text">Coins (1 token = 1 character)</p>

    <datalist id="tickmarks">
      <option value="0" label="100"></option>
      <option value="100" label="1000"></option>
    </datalist>
    <input type="range" class="slider" min="100" max="1000" step="10" value="100" />

    <div>
      <button id="coin-to-purchase" class="custom-button">Buy 1K Tokens $0.00056</button>
    </div>

  </div>

  <!-- Create Audio Clone Section -->

  <div id="create_audio_clone_ui" class="create_audio_clone content">
    <h2 id="file_upload_title">Upload The Voice</h2>
    <div id="coins-required">
      <p>600 Coins for each Voice.</p>
    </div>
    <div class="form-group">
      <label for="name">Voice Name:</label>
      <input type="text" id="voiceName" placeholder="" class="input-field" />
    </div>
    <div class="form-group">
      <label for="files">Select Files:</label>
      <input type="file" id="files" accept=".mp3" single>
    </div>

    <button type="submit" id="sumbitBtn" class="submit-btn">Upload</button>
    <div id="progressUi" class="progress-container">
      <div class="progress"></div>
    </div>
    <div id="disclaimer">
      <p>This website respects intellectual property rights. Do not use other individuals' voices without their explicit
        permission. Always seek proper authorization before utilizing any copyrighted material.</p>
    </div>
  </div>

  <!-- Pirvay Policy Page -->

  <div id="privacy_policy" class="content">
    <h1>Privacy Details</h1>
    <p>Your privacy is important to us. This page outlines the types of personal information we receive and collect when
      you use our services, as well as some of the steps we take to safeguard your information.</p>

    <h2>Information We Collect</h2>
    <p>We may collect the following types of information:</p>
    <ul>
      <li>We only need your Email address to log you in</li>
    </ul>

    <h2>How We Use Your Information</h2>
    <p>We may use the collected information for the following purposes:</p>
    <ul>
      <li>To create your account in our database</li>
      <li>To save your created audiofiles for you soyou can access them</li>
      <li>To send promotional emails about new products, special offers, or other information which we think you may
        find
        interesting</li>
      <li>To contact you for market research purposes. We may contact you by email, phone, or mail.</li>
    </ul>

    <h2>Security</h2>
    <p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or
      disclosure, we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure
      the information we collect online.</p>

    <h2>Changes to This Privacy Policy</h2>
    <p>We may update this privacy policy from time to time. We encourage you to periodically review this page for the
      latest information on our privacy practices.</p>

  </div>

  <div id="contact_us" class="content">
    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about our privacy policy, please feel free to contact us:</p>
    <ul>
      <li>Email: bosejoydip999@gmail.com</li>
      <li>Phone: +91-7980511342</li>
      <li>Address: 191 Ramkrishna Road, Kolkata, West Bengal,India</li>
    </ul>
  </div>








  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-auth.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="/public/assets/home_code.js"></script>
  <script>
    // Your web app's Firebase configuration

    const firebaseConfig = {
      apiKey: "AIzaSyBqfo4NAE_bI6dCItZkR039RkxNtjZqT5c",
      authDomain: "vocal-twin.firebaseapp.com",
      projectId: "vocal-twin",
      storageBucket: "vocal-twin.appspot.com",
      messagingSenderId: "885350501809",
      appId: "1:885350501809:web:9aa6e4ae06acf564bcc190",
      measurementId: "G-NZYKJ651GP"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    // firebase.auth();

    // Check if a user is already logged in
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        localStorage.setItem('userId', user.uid);
        fetchUserDetails(user.uid);
      } else {
        // User is not logged in
        navigateToAuth()
      }
    });

  </script>
</body>

</html>