<!DOCTYPE html>
<html>

<head>
  <title>Generate Voice</title>
  <link href="/public/assets/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a id='nav_button_generate' href="#">Generate</a></li>
        <li><a id='nav_button_create_new_audio' href="#">Create New Audio</a></li>
        <li><a id='nav_button_coin_counter_text' href="#">💰 Coins </a></li>
      </ul>
    </nav>
  </header>
  <!-- Hamburger -->
  <div class="hamburger" onclick="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="menu-items">
    <ul>
      <li id="generate"><a href="#">Generate</a></li>
      <li id="buy-coins"><a href="#">Buy Coins</a></li>
      <li id="logout"><a href="#">Logout</a></li>
    </ul>
  </div>
  <!-- Generate Audio UI -->
  <div id="generate-audio-ui" class="content">
    <h1>Generate Voice</h1>
    <form id="voiceForm">
      <textarea id="paragraph" name="paragraph" rows="4" maxlength="1000" required></textarea>
      <label id="text_counter" for="paragraph">Characters remaining: 1000</label>

      <select id="voices" name="voices" required>

      </select>
      <input type="submit" id="submitButton" value="Submit" disabled>
      <div id="audioContainer" style="margin-top: 20px;"></div>
    </form>
  </div>
  <!-- Purchase Coins -->
  <div id="purchase-coins" class="content">
    <h1 id="test-id">Pricing</h1>
    <p class="green-text">$0.00056</p>
    <p class="extra-small-text">Coins (1 token = 1 character)</p>

    <datalist id="tickmarks">
      <option value="0" label="100"></option>
      <option value="100" label="1000"></option>
    </datalist>
    <input type="range" class="slider" min="100" max="1000" step="10" value="100" />

    <div>
      <button id="coin-to-purchase" class="custom-button">Buy 1K Tokens $0.00056</button>
    </div>

  </div>

  <!-- Create Audio Clone Section -->

  <div id="create_audio_clone_ui" class="create_audio_clone">
    <h2 id="file_upload_title">Upload The Voice</h2>
    <div class="form-group">
      <label for="name">Voice Name:</label>
      <input type="text" placeholder="" class="input-field" />
    </div>
    <div class="form-group">
      <label for="files">Select Files:</label>
      <input type="file" id="files" accept=".mp3" multiple>
      <label for="files" class="file-label">Choose Files</label>
    </div>
    <div class="file-list">
      <p>Selected Files:</p>
    </div>
    <button id="submitBtn" class="submit-btn">Upload</button>
    <div id="disclaimer">
      <p>This website respects intellectual property rights. Do not use other individuals' voices without their explicit
        permission. Always seek proper authorization before utilizing any copyrighted material.</p>
    </div>

  </div>






  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-auth.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="/public/assets/home_code.js"></script>
  <script>
    // Your web app's Firebase configuration

    const firebaseConfig = {
      apiKey: "AIzaSyBqfo4NAE_bI6dCItZkR039RkxNtjZqT5c",
      authDomain: "vocal-twin.firebaseapp.com",
      projectId: "vocal-twin",
      storageBucket: "vocal-twin.appspot.com",
      messagingSenderId: "885350501809",
      appId: "1:885350501809:web:9aa6e4ae06acf564bcc190",
      measurementId: "G-NZYKJ651GP"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    // firebase.auth();

    // Check if a user is already logged in
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        localStorage.setItem('userId', user.uid);
        fetchUserDetails(user.uid, "http://localhost:7000");
      } else {
        // User is not logged in
        navigateToAuth()
      }
    });

  </script>
</body>

</html>